<mat-card>
    <h1>login</h1>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
          <div>
        <mat-form-field>
          <input matInput placeholder="email" [(ngModel)] = "email"   name = "email" required #spy
          #temp2 = "ngModel">
        </mat-form-field>
        <mat-error *ngIf="!(temp2.valid || temp2.pristine)">
            email is required
          </mat-error> 
    </div>
<div>
        <mat-form-field>
             <input matInput placeholder="password" [(ngModel)] = "password" name = "password" required #spy
             #temp1 = "ngModel">
        </mat-form-field>
        <mat-error *ngIf="!(temp1.valid || temp1.pristine)">
            password is required
          </mat-error>
    </div>
        <div >
            <button mat-raised-button color="primary" [disabled]="!signupForm.form.valid">connect</button>
        </div>
      </div>
    </form>
</mat-card>