<h1>my posts</h1>
        <p *ngIf="!(postsD|async)">loding....</p>
    
        <mat-accordion>
            <mat-expansion-panel *ngFor = "let post of postsD|async">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    {{post.title}}  
                </mat-panel-title>
              </mat-expansion-panel-header> 
              {{post.body}} 
              <button mat-raised-button color="primary"
              (click)= deleteBook(post.id) >Delete
      </button>
            </mat-expansion-panel>
          </mat-accordion>