
            <mat-accordion>
            <mat-expansion-panel *ngFor = "let post of Post$">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    {{post.id}}.)  {{post.title}}  
                </mat-panel-title>
              </mat-expansion-panel-header> 
              {{post.body}} 
              <div>
              <form #postForm="ngForm"(click)="onSubmit(post.id)" >
                <button mat-raised-button color="primary">{{saveText}}</button>
                </form>
            </div>
                the comments:
                <div *ngFor = "let comment of comment$">
                    <div *ngIf ="comment.postId==post.id;other" > 
                        <li> 
                      {{comment.body}}
                    </li>
                      </div>
                    </div>
            </mat-expansion-panel>
          </mat-accordion>
        